<%= simple_form_for @achievement do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :privacy, collection: Hash[Achievement.privacies.map { |k, v| [k.split('_').first.capitalize, k]} ] %>
  <%= f.input :features, label: 'Featured Achievement' %>
  <%= f.input :cover_image, as: :file, label: 'Cover Image' %>
  <%= f.submit 'Create Achievement', class: 'btn btn-primary' %>
<% end %>
