<h1><%= @achievement.title %></h1>
<div>
  <%= @achievement.description_html.html_safe %>
</div>

<div class="encouragement">
  <h2>Encouragements <span id="encouragement-quantity"><%= @achievement.encouragements.count %></h2>
  <ul>
    <% @achievement.encouragements.each do |enc| %>
      <li>Encouragement left by <%= enc.user.email %>: <%= enc.message %></li>
    <% end %>
  </ul>
  <%= link_to 'Encouragement', new_achievement_encouragement_path(@achievement), id: 'encourage-button', class: 'btn btn-primary' %>
</div>
