<!DOCTYPE html>
<html>
  <head>
    <title>PunditApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div id="flash" class="flash-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
